
.container
  .card.top-section
    = image_tag @user.avatar_image_url, class: "photo-round #{@user.avatar.attached? ? '' : 'invert-filter' }", id: 'top'
    %p Posts by
    %h1= @user.name
    %p #{@posts.size} posts   #{@user.profile_views} profile views
    %p member since #{date_formatted(@user.created_at)}

  - if @posts.present?
    = render partial: 'posts/posts'
    = pagy_bootstrap_nav(@pagy).html_safe
  - elsif current_user == @user
    %h4 your page is too quite, attract viewers by creating your first post
    = new_post_path	
  - else
    %h4 not much happening here, come back after #{@user.name} writes some posts




