.navbar.navbar-expand-sm.navbar-light.navbar-lewagon
  = link_to root_path, class: "navbar-brand" do
    = image_tag "https://i.pinimg.com/originals/9d/16/87/9d1687fe53247d0da876e4bff2e3ce64.png"
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to 'Posts', posts_path, class: "nav-link"
      %li.nav-item
        = link_to 'Sponsor Posts', sponsors_posts_path, class: "nav-link"
      %li.nav-item
        = link_to 'Create a Post', new_post_path, class: "nav-link"
      - if user_signed_in?
        %li.nav-item.active
          = link_to "Home", "#", class: "nav-link"
        %li.nav-item
          = link_to "Messages", "#", class: "nav-link"
        %li.nav-item.dropdown
          = image_tag "https://cdn3.iconfinder.com/data/icons/communication-232/384/Account_circle-512.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false
          .dropdown-menu.dropdown-menu-right{"aria-labelledby" => "navbarDropdown"}
            = link_to "Action", "#", class: "dropdown-item"
            = link_to "Another action", "#", class: "dropdown-item"
            = link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item"
      - else
        %li.nav-item
          = link_to "Login", new_user_session_path, class: "nav-link"
