
.card-post
  - default_cover = "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"
  %img(src="#{post.cover ? post.cover : default_cover}")
  .card-post-infos
    %h2= post.title
    %p= post.preview
    %p= "by: #{post.author_name}"
