
%a(href="#{post_path(post)}" style="text-decoration: none;")
  .card-post
    .card-post-infos
      %h2= post.title
      %p= post.preview
      %p by: #{post.author_name}
    - image_url =  post.cover_key ?  cloudinary_url(post.cover_key) : sample_watch_image
    %img(src="#{image_url}")
