
%a(href="#{post[:url]}" style="text-decoration: none;" target="_blank")
  .card-post
    %img(src="#{post[:cover] ? post[:cover] : sample_watch_image}")
    .card-post-infos
      %h2= post[:title]
      %p= post[:preview]
      %p.source=  post[:source]
