%p#notice= notice

.container.article-container
  - image_url = @post.cover_key ? cloudinary_url(@post.cover_key) : sample_watch_image
  .banner(style= "background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('#{image_url}');")

  %h1.post-title= @post.title

  .post-info
    .data
      .by(onclick="location.href='#{user_path(@post.author)}';")
        .author-avatar
          = image_tag @post.author.avatar_image_url, class: 'post-avatar'
        .author-names
          %span.by-line-author
            = @post.author_name
          %br
          %span.author-handle
            ="@#{@post.author.handle}"
          .article-dateline
            = @post.created_at_formatted
      .post-analytics
        #{icon('fas', 'eye')} #{@post.views}
        #{icon('fas', 'clock')} #{@post.estimated_reading_time_in_minutes} minutes read

  - if author_buttons?(@post)
    .btn-group.author-buttons
      = link_to "#{icon('far','edit')} Edit".html_safe, edit_post_path(@post), class: 'btn btn-white'
      = link_to "#{icon('far','trash-alt')} Delete".html_safe, post_path, method: "DELETE", class: 'btn btn-soft-red', data:{confirm: "Do you really want to delete this post?"}

      -# trash-alt

  .article-text
    =@post.content


